*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Russo One";
    margin: 0;
    padding: 0;
    
}


/* Alap stílusok a főoldal szakaszhoz*/

header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../img/moon-man.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* A tartalom bal szélre igazítása */
}

.header-content {
    margin-left: 0.3em;
    margin-top: 10em;
    padding: 1em;
}


#container nav {
    border-top: 2px solid rgb(118, 119, 124);
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* A felső részre eltoljuk a navigációt, hogy az alján maradjon a header-nek */
}

#container nav ul {
    list-style-type: none;
    color: white;
    display: flex;
}

#container nav li {
    text-align: center;
    margin: 0 1em;
    color: black;
}

#container nav a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    padding: 0.5em;
    margin: 0 2em;
}


#container h1 {
    color: white;
    font-size: 3em;
    margin-top: 1em;
}

.header-text a:hover {
    background-color: rgb(169, 161, 8);
    padding: 9em;
}

.header-text {
    padding: 1em;
}

.text-container {
    background-image: url(../img/moon-project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0.2em;
    color: black;
    margin-right: 0 auto;
    margin-left: 0 auto;
}
  
.text-content {
    padding: 1.5em;
    margin: 0.4em;
    color: white;
}

h3 {
    color: white;
    text-align: left;
    padding: 2em;
    padding-bottom: 2em;
    font-size: 2em;
    margin-top: 0em;
    padding-top: 1rem;

}
  
.text-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0.1em;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    font-size: 1.5em;
}

section {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.news {
    height: 100vh;
    background-color: rgb(253, 249, 249);
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.news h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

.iframe-card {
    flex: 0 0 50%; /* Két elem egy sorban */
    box-sizing: border-box;
}

.news iframe{
    width: 100%;
    padding: 1em;
    height: 30vh;
}
  
.card-container{
    margin: 1em;
    padding: 1em;
}

.card-grid {
    display: flex;
    padding: 1em;
}

.card-moon {
    width: 100%;
    text-align: center;
    color: white;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.card-moon img {
    width: 100%;
    height: 65vh;
    border-radius: 1em;
}

.card-moon a {
    background-color: rgb(5, 5, 5, 0.5);
    padding: 1em;
    text-decoration: none;
    position: absolute;
    color: white;
    float: left;
    font-size: 1em;
    margin: 1em;
    border-radius: 1em;
}

.card-moon a:hover{
    background-color: rgb(169, 161, 8);
}

section h2{
    color: black;
    font-size: 2.5rem;
    text-align: center;
    margin: 0.1em;
    padding: 0;
   
}

@media only screen and (max-width: 320px) {

    .header-content{
        margin: 0.1em;
        padding: 0.1rem;
        align-items: center;
    }

    #container nav {
        flex-direction: column;
        align-items: center;
    }

    #container nav a{
        font-size: 1em;
    }

    .header-content h1 {
        margin-top: 1rem;
        font-size: 2rem;
        float: left;
        padding: 1rem;
    }

    nav {
        flex-direction: column;
    }

    nav a{
        font-size: 0.1rem;
    }

    nav li {
        margin: 0.5em 0;
      
    }

    .news h2{
        font-size: 2em;
    }

    .news{
        display: flex;
        padding: 0.1em;
        margin: 0;
    }

    .news iframe{
        height: 100%;
    }

    .iframe-card{
        flex: 0 0 100%;
    }

    .text-container p{
        padding-top: 10em;
        font-size: 2em;
       
    }

    .text-container h3{
        font-size: 1em;
    }

    .card-moon a{
        font-size: 0.6em;
    }
      
}

@media only screen and (max-width: 376px) {

    .header-content{
        margin: 0.1em;
        padding: 0.1rem;
        align-items: center;
    }

    #container nav {
        flex-direction: column;
        align-items: center;
    }

    #container nav a{
        font-size: 1em;
    }

    #container h1 {
        margin-top: 1rem;
        font-size: 3rem;
        float: left;
        padding: 1rem;
    }

    nav {
        flex-direction: column;
    }

    nav a{
        font-size: 0.1rem;
    }

    nav li {
        margin: 0.5em 0;
      
    }

    .news h2{
        font-size: 2em;
    }

    .news{
        display: flex;
        padding: 0.1em;
        margin: 0;
    }

    .news iframe{
        height: 100%;
    }

    .iframe-card{
        flex: 0 0 100%;
    }

    .text-container p{
        padding-top: 5em;
        font-size: 2em;
       
    }

    .text-container h3{
        font-size: 1em;
    }

    .card-moon a{
        font-size: 0.6em;
    }
      
}

/* Media query a kisebb kijelzőkhoz (max-width: 768px) */
@media only screen  and (max-width: 768px) {
    
    .header-content{
        margin: 0.1em;
        padding: 0.1rem;
        align-items: center;
    }

    #container nav {
        flex-direction: column;
        align-items: center;
    }

    #container nav a{
        font-size: 1em;
    }

    #container nav ul{
        display: grid;
    }

    #container h1 {
        margin-top: 1rem;
        float: left;
        padding: 1rem;
    }

    nav {
        flex-direction: column;
    }

    nav a{
        font-size: 0.1rem;
    }

    nav li {
        margin: 0.5em 0;
      
    }

    .news h2{
        font-size: 2em;
    }

    .news{
        display: flex;
        padding: 0.1em;
        margin: 0;
    }

    .news iframe{
        height: 100%;
    }

    .iframe-card{
        flex: 0 0 100%;
    }

    .text-container p{
        padding-top: 1em;
        font-size: 2em;
       
    }

    .text-container h3{
        font-size: 1.5em;
    }

    .card-moon a{
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 1024px){
    .text-content{
        font-size: 1.2em;
    }
}


@media only screen and (max-width: 922px) {

  

    .header-content {
        margin-left: 1em;
        margin-top: 2em;
        padding: 0.1rem;
    }

    #container nav a{
        margin: 0.1rem;
        font-size: 1.5rem;
    }

    #container nav li {
        margin: 0.1em;
        padding: 0.1rem;
    }


    .text-container h3{
        padding: 1rem ;
    }

    .text-content p {
        font-size: 1.3em;
        padding: 0.5em;
    }

    section {
        height: auto;
    }

    section h2{
        padding: 0.1rem;
        font-size: 2rem;
    }

    .iframe-card{
       width: 100%;
       padding: 1rem;
    }

    .news {
        width: 100%;
    }

    .card-grid {
        flex-direction: column; /* Elemek egymás alá rendezése */
    }

    .card-moon {
        width: 50%; /* Elemek teljes szélességben való elrendezése */
        margin-bottom: 1em; /* Elemek közötti tér */
        margin-left: auto;
        margin-right: auto;
    }

    .card-moon img {
        height: auto; /* Automatikus magasság */
        margin: 0 2rem;
    }

    .card-moon a{
       margin: 0 3em;
    }

    .iframe-card {
        height: 20vh;
        padding: 0.1rem;
    }

    .iframe-card3{
        width: 30%;
    }

    .iframe-card2{
        width: 30%;
    }

    .iframe-card4{
        width: 30%;
    }
}


@media only screen and (min-width: 1024px){
    .text-content{
        font-size: 1em;
        padding: 2em;
    }

    .text-container h3{
        font-size: 3em;
    }
}

@media only screen and (min-width: 2560px){
    #container h1{
        font-size: 10em;
    }

    #container nav li{
        font-size: 9em;
    }
    #container nav a{
        font-size: 0.5em;
        padding: 0em;
        margin: 0em;
    }

    .news h2{
        font-size: 9em;
    }

    .news p{
        font-size: 4em;
        padding: 1em;
    }

    .text-container h3{
        font-size: 10em;
    }

    .text-content{
        font-size: 2em;
    }

    section h2{
        font-size: 10em;
    }

    


}

/* stilusok a jelentkezz oldalhoz*/
.container {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/moon-project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right;
    margin: 0;
    padding: 0;
    position: relative;
    
}

.container a {
    font-family: "Russo One";
    text-decoration: none;
    color: white;
    margin: 1em;
    padding: 0.6em;
}

.container a:hover{
    background-color: rgb(169, 161, 8);
}

.container li{
    padding: 1em 2em;
    margin: 0 1em;
    font-size: 2em;
}

.container nav ul{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center; /* Vízszintes középre igazítás */
    align-items: center; /* Függőleges középre igazítás */
    margin: 0 2em;
}

.content{
    margin-top: 2em;
    margin-bottom: 3em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    align-items: center;
    padding: 1em;
}

.content h1{ 
    font-family: "Russo One";
    font-size: 2em;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    color: white;
}

.content input {
    display: block;
    padding: 1em 2em;
    margin: 1em;
    margin-right:auto ;
    margin-left: auto;
}

#submit input:hover{
    background-color: rgb(169, 161, 8);
    padding: 1em;
}

.countBack {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1em;
}

.map p{
    color: white;
    text-align: justify;
    font-size: 2em;;
    margin: 1em;
}

.map{
    width: 100%;
    height: 650;
    margin: 0;
    padding: 0;
}

.map iframe{
    width: 100%;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 320px) {

    .container nav {
        flex-direction: column;
        align-items: center;
    }

    .container nav a{
        font-size: 1em;
        padding: 0em;
    }

    .container li{
        padding: 0em;
        margin: 0em;
        font-size: 0.8em;
    }
    .container nav ul{
        display: flex;
    }
    .container nav a{
        font-size: 1em;
    }

    .header-content h3{
        font-size: 0.1rem;
    }

    .content {
        width: 100%;
    }

    .countBack {
        width: 80%;
    }

    .map p {
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 320px) {

    .container nav {
        flex-direction: column;
        align-items: center;
    }

    .container nav a{
        font-size: 0.3em;
        padding: 0em;
    }

    .container li{
        padding: 0em;
        margin: 0em;
        font-size: 1.2em;
    }
    .container nav ul{
        display: flex;
    }
    .container nav a{
        font-size: 1em;
    }

    .header-content h3{
        font-size: 0.1rem;
    }

    .content {
        width: 100%;
    }

    .countBack {
        width: 80%;
    }

    .map p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 922px){
    .container{
        width: 100%;
    }
}

/*Stílusok a kutatás oldalhoz*/

.history{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../img/nasa2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.history nav a {
    font-family: "Russo One";
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 0.1em;
    padding: 1em;
}

.history nav{
    border-top: 2px solid rgb(118, 119, 124);
    position: absolute;
    bottom: 0;
}

.history nav a:hover{
    background-color: rgb(169, 161, 8);
   
}

.history nav li{
    padding: 1em;
    margin: 1em;
}


.history nav ul{
    list-style-type: none;
    color: white;
    display: flex;
    margin: 0 1em;
}

.history h1{
    font-size: 3em;
    text-align: left;
    color: white;
    padding: 1em;
    margin-bottom: 4em;
}

.history img{  
    max-width: 10%;
    padding: 1em 2em;
}

.figure iframe {
    width: 100%;
    flex: 0 0 20%; /* Két elem egy sorban */
    box-sizing: border-box;
    padding: 4em;
}

iframe {
    padding: 0;
    margin: 0;
    width: 100%;
}

.figure {
    height: 100vh;
    width: 100%;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
}

.figure h4{
    grid-column: span 2; /* Foglalja el mindkét oszlopot */
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
}


main{
    margin: 0;
    background-image: url(../img/moonlight.jpg);
    background-repeat:initial;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

main h3{
    padding: 0 2em;
    height: 10vh;
    margin-bottom: 12em;

}

main dl{
    margin: 1em;
}


dl{
    background-color: black;
    color: white;
    padding: 30px;
}

dt {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    padding: 0.4em;
    margin: 1em;
}

dd{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2em;
    margin: 1em;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
}

#price-list{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #040421, #d2d9e0); /* Két szint összemosott háttér */
}

#price-list h1{
    font-size: 2em;
    text-align: center;
    color: black;
    padding: 0.1em;
    margin: 0.2em;
}

#price-list img{
    width: 15%;
    float: left; /* Float a bal oldalra */
    margin: 1em; 
    opacity: 0.6;
}

.price-text {
    width: 100%;
    margin: 0 auto;
    margin-top: 5em;
    overflow: hidden; /* Ez elkerüli, hogy a konténerösszehúzódjon a floated elemek miatt */
  }

.price-text p{
    font-size: 1.5em;
    padding-top: 1em;
    margin-top: 0.5em;
    color: white;
}

.price-text a {
    color: blue;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 50%; /* Adj meg egy kívánt szélességet */
    margin: 3em auto; /* Középre igazítás */
    color: black;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 1em;
    text-align: center;

}

@media only screen and (max-width: 320px) {
    .history {
      background-size: contain;
      width: 100%;
    }

    .history h1 {
        font-size: 2rem;
        padding-bottom: 10em;
        padding-left: 0em;
    }

    .history nav a{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    }
    
    .history nav li{
    padding-top: 0.1em;
    margin-top: 0.1em;
    }

    .history img {
    width: 0%;
    }
  
    .figure {
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    }

    .figure iframe {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    }
  
  }
  
  @media only screen and (max-width: 320px) {
    main {
        height: 100vh;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    main h3 {
      padding: 0.1em;
      font-size: 0.4em;
      padding-bottom: 1em;
      display: block;
      text-align: center;
    }
  
    main dt {
        font-size: 0.6rem;
    }


    main dd{
        font-size: 0.3rem;
    }

    main dl {
      margin: 0.1rem;
      margin-top: 1em;
      display: block;
      margin-right: 9em;
      padding: 0.2rem;
      font-size: 1em;
    }
  }

  @media only screen and (max-width: 320px) {
    #price-list h1 {
      font-size: 1.5em;
      padding: 1em;
      height: auto;
    }
  
    #price-list img {
      width: 30%;
      margin: 0.5em;
    }
  
    table {
      margin: 1em;
      padding: 2rem;
      width: 50%;
    }

    tr{
        padding: 1rem;
        font-size: 0.8em;
    }

    td{
        padding: 0.2rem;
        font-size: 1em;
    }

    .price-text p{
        font-size: 1rem;
        padding: 0em;
    }
  }

  @media only screen and (max-width: 375px) {
    .history {
    background-size: contain;
    height: 100vh;
    width: 100%;
    }

    .history h1 {
    font-size: 2rem;
    margin-bottom: 5em;
    padding-left: 0em;
    }

    .history nav a{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    }
    

    .history img {
    width: 0%;
    }
  
    .figure {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    }

    .figure iframe {
    width: 100%;
    padding: 1em;
    }
  
  }
  
  @media only screen and (max-width: 375px) {


    main {
        height: 50vh;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    main h3 {
      padding: 0.1em;
      font-size: 0.5em;
      padding-bottom: 10em;
      display: block;
      margin-left: 10em;
      position: relative;
    }
  
    main dt {
        font-size: 0.5rem;
    }


    main dd{
        font-size: 0.3rem;
    }

    main dl {
      margin: 0.1rem;
      margin-top: 1em;
      display: block;
      margin-right: 9em;
      padding: 0.2rem;
    }
  }

  @media only screen and (max-width: 375px) {
    #price-list h1 {
      font-size: 1.5em;
      padding: 1em;
      height: auto;
    }
  
    #price-list img {
      width: 30%;
      margin: 0.5em;
    }
  
    table {
      margin: 1em;
      padding: 2rem;
      width: 50%;
    }

    tr{
        padding: 1rem;
        font-size: 0.8em;
    }

    td{
        padding: 0.2rem;
        font-size: 1em;
    }

    .price-text p{
        font-size: 1rem;
        padding: 0em;
    }
  }


  
  @media only screen and (min-width: 425px){
    
    main h3{
       font-size: 10em; 
    }
    
    main dt {
        font-size: 3rem;
    }

    main dd{
        font-size: 2rem;
    }

    main dl {
    font-size: 2em;
      margin: 0.1rem;
      margin-top: 1em;
      display: block;
      margin-right: 9em;
      padding: 0.2rem;
    }

  }
  
  @media only screen and (min-width: 321px){

    .figure {
        width: 100%;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        }
    
        .figure iframe {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding: 0.4em;
        margin-top: 0em;
        }


  }


  @media only screen and (max-width: 425px) {
    .history {
    background-size: contain;
    height: 100vh;
    width: 100%;
    position: relative;
    }

    .history h1 {
    font-size: 2rem;
    margin-top: 5em;
    padding-left: 0em;
    }

    .history nav a{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    }
    
    .history img {
    width: 0%;
    }


    .figure {
        display: grid;
        height: 80vh;
        grid-template-columns: 1fr 1fr;
        }
    
        .figure iframe {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0.4em;
        margin-top: 0em;
        }
  
  }
  
  @media only screen and (max-width: 425px) {


    main {
        height: 100vh;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }


    main dl {
    font-size: 0.4em;
      margin: 0.1rem;
      margin-top: 1em;
      display: block;
      margin-right: 9em;
      padding: 0.2rem;
    }
  }

  @media only screen and (max-width: 425px) {
    #price-list h1 {
      font-size: 1.5em;
      padding: 1em;
      height: auto;
    }
  
    #price-list img {
      width: 30%;
      margin: 0.5em;
    }
  
    table {
      margin: 1em;
      padding: 2rem;
      width: 50%;
    }

    tr{
        padding: 1rem;
        font-size: 0.8em;
    }

    td{
        padding: 0.2rem;
        font-size: 1em;
    }

    .price-text p{
        font-size: 1rem;
        padding: 0em;
    }
  }
  
  @media only screen and (max-width: 769px) {
    .history {
    background-size: contain;
    height: 100vh;
    width: 100%;
    position: relative;
    }

    .history h1 {
    font-size: 4rem;
    margin-top: 2em;
    padding-left: 0em;
    }

    .history nav a{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    }

    
    .history img {
    width: 0%;
    }
  }

  @media only screen and (min-width: 769px){
    .figure {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        }
    
        .figure iframe {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        }
      
    main h3 {
      padding: 0.1em;
      font-size: 1.5em;
      padding-bottom: 1em;
      display: block;
      margin-left: 1em;
      position: relative;
    }
    
    main {
        height: 50vh;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }
  
    main dt {
        font-size: 0.1rem;
    }

    main dd{
        font-size: 0.2rem;
    }

    main dl {
    font-size: 0.4em;
      margin: 0.1rem;
      margin-top: 1em;
      display: block;
      margin-right: 9em;
      padding: 0.2rem;
    }
  }
    

  @media only screen and (max-width: 769px) {
    #price-list h1 {
      font-size: 1.5em;
     
      height: auto;
    }
  
    table {
      margin-left: auto;
      margin-right: auto;
      padding: 2rem;
      width: 70%;
    }

    tr{
        padding: 1rem;
        font-size: 0.8em;
    }

    td{
        padding: 0.2rem;
        font-size: 1em;
    }

    .price-text p{
        font-size: 1rem;
        padding-right: 2em;
        padding-left: 2em;
    }
  }
  
  @media only screen and (max-width: 768px){
    .history nav ul{
        display: grid;
    }

    .history nav li{
        padding: 0.2em;
        margin: 0.2em;
    }

    main h3{
        font-size: 0em;
        margin-top: 0em;
        position: relative;
    }

    main dt {
        font-size: 1.5rem;
    }


    main dd{
        font-size: 1rem;
    }

    main dl {
      margin: 0.1rem;
      margin-top: 0.1em;
      margin-bottom: 3em;
      display: block;
      margin-right: 2em;
      padding: 0.2rem;
    }
  }

  

  @media only screen and (min-width: 769px){
    .history nav a{
        padding-left: 0em;
        margin-left: 0em;
        font-size: 1.8em;
    }
  }
    


    @media only screen and (min-width: 768px){
     
        main h3 {
            padding: 0.1em;
            font-size: 1.5em;
            padding-bottom: 1em;
            display: block;
            margin-left: 1em;
            position: relative;
          }
          
          main {
              height: 100vh;
              align-items: center;
              text-align: center;
              overflow: hidden;
          }
        
          main dt {
              font-size: 1.5rem;
          }
      
          main dd{
              font-size: 1rem;
          }
      
          main dl {
          font-size: 1em;
            margin: 0.1rem;
            margin-top: 1em;
            display: block;
            margin-right: 9em;
            padding: 0.2rem;
          }
    }

  @media only screen and (min-width: 1440px){
    .history nav a{
        font-size: 3em;
    }
    .history h1{
        font-size: 6em;
    }

    
  }
  @media only screen and (min-width: 2560px){
    .history nav a{
        font-size: 7em;
    }

    .history h1{
        font-size: 9em;
    }

    main {
        background-image: url(../img/stars.jpg);
    }

    main dl{
        font-size: 2em;
    }

    main h3{
        font-size: 10em;
    }

    .figure h4{
        font-size: 10em;
    }

    .figure iframe{
        width: 100%;
        height: 30vh;
    }

    #price-list h1{
        font-size: 6em;
    }

    table{
        font-size: 4em;
    }

    .price-text p{
        font-size: 3em
    }

    footer p{
        padding: 12em;
    }
  }
    

/* Stílusok a lábléchez */
footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    padding: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p{
    padding: 0;
    margin: 0.3em;
    font-size: 1rem;
}

