body{
    background-color: rgb(211, 178, 139);
}

a {
    text-decoration: linen;
    font-size: 25px;
    color: black;
    padding-right: 10px;
}

p {
    font-style: italic;
    text-align: justify;
}

.alsomargo {
    margin-bottom: 60px;
}


h1 {
    
    text-align: center;
    color: rgb(113, 69, 7);
    background-color: rgb(211,178, 139);
}

/* Images */

img {
    width: 30%;
}
    
   

#rudi-img {
    width: 50%;
    margin: 40px;
    margin-left: auto;
  margin-right: auto;
  display: block;

}

#taplalkozas-img {
    margin: 40px;
    width: 60%;
    margin-left: auto;
  margin-right: auto;
  display: block;
}


/* images end */
